body{

    font-family: 'Poppins', sans-serif;
    


}
.firststep{
    
    height: 600px;
    background-image: url(./image/donation9.jpg);
    background-size: cover;
    opacity:0.9;
    

}
.firststepone{
 text-align: center;
  color: white;
 padding: 50px;

}
.fso1{
    font-size: 70px;
    font-weight: 2500px;
    color-scheme: white;
    width: 750px;
    padding-left: 220px;


}
.fso2{
    font-size: 25px;
    font-weight: 300px;
    color: aliceblue;

}
.fso3{

background-color:rgb(235, 67, 6);
padding: 15px;
border-radius: 10px;


}
.fso3 a{
    text-decoration: none ;
    color: aliceblue;
    padding: 35px ;
    font-size: 20px;
}

.steptwo{

background-color: aliceblue;
height: 600px;
text-align: center;

}




.steptwo1{

    padding: 150px;

}

.steptwo1 h1{

    font-size: 35px;
    padding: 10px;
    color:black;
}
.steptwo1 p{
font-size: 15px;
padding: 5px;
color:black;

}
/*
.steptwo2{
    
    

}

.steptwo2 ul {

}

.steptwo2 ul li{
    


}

.steptwo2 ul li a{
    text-decoration: none;
    float: left;




}
*/
.steptwo2 {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 
 
 background-color:white ;
}
.steptwo2>div{
font-size: 30px;
font-weight: 700px;
background-color:white;
padding: 5px;
margin: 7px;
margin-left: 20px;
padding: 30px;
opacity: .5;

}
.topper{
    border: 4px solid red;
    color: red;
    padding: 3px;
    font-size: 10px;
    border-radius: 15px;
}





.steptwo3{

opacity: .5;
font-size: 25px;
text-decoration: underline ;


}









































































































































